* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: #f2f2f2;
    margin: 0;
    background: rgb(52, 32, 86);
    background-image: linear-gradient(120deg, rgb(52, 32, 86, .8), rgb(84, 84, 197, .7)), url(background.jpg);
}

.container {
    width: 60%;
    margin: 3rem auto 0;
    max-width: 600px;
    min-width: 300px;
}


/* start header */
.header {
    padding: 0 0.5rem;
    margin-bottom: 2rem;
}

.text-center,
.description-text-center {
    text-align: center
}

.header h1,
.header p {
    margin: 0 auto 0.5rem;
}

.header h1 {
    font-size: 2.5rem;
}

.header p {
    font-size: 1.1rem;
    font-style: italic;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

/* start main */
#survey-form {
    padding: 2.5rem;
    background-color: rgb(34, 14, 36, .7);
    border-radius: 0.5rem;
}

.form-group {
    margin: 0 auto 1rem;
    padding: 0.25rem;
}

.form-group label {
    display: block;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 0;
    outline: 0;
    font-size: 1rem;
}

.clue {
    font-size: 0.9rem;
}

.form-group p {
    margin: 0 0 0.5rem;
    font-size: 1.1rem;
}

.gender,
.know {
    margin-bottom: 0;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 0;
    outline: 0;
    resize: horizontal;
}

.submit-button {
    width: 100%;
    min-height: 50px;
    background: rgb(99, 156, 217);
    color: #f2f2f2;
    font-size: 1rem;
    border-radius: 0.5rem;
    border: 0;
    outline: 0;
}